a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color:blue;
   font-style: italic;
}

.arrondie {
    border:2px solid black;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:40px;
    }


a:hover /* Apparence au survol des liens */
{
   text-decoration: underline;
   color: rgb(21, 128, 0);
}
header
{
    background-color: rgb(190, 241, 211);
}

section
{
    background-color: rgb(204, 212, 224);
    width: auto;
    height: auto;
    float: left;
    margin: 5px;
    border:#ccc 1px solid;
    padding: 10px;
    flex-direction: auto;
}


.Hébergement
{

    background-color: rgb(196, 223, 223);
    width: auto;
    height: auto;
    float: left;
	margin: 5px;
	display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: auto;
	border: #ccc 1px solid

}

.vignette
{
    
    background-color: rgb(184, 199, 194);
    width: auto;
    height: auto;
    float: left;
    margin: 5px;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border:#ccc 1px solid;
    padding: auto;
}

.activite
{
    width: auto;
    background-color: rgb(209, 206, 200);
    float: left;
    margin: 5px;
    border:#ccc 1px solid;
    padding: 10px;
}

.paysage
{

    width: auto;
    background-color: rgb(147, 155, 172);
    float:left ;
    margin: 5px;
    border:#ccc 1px solid;
    padding: 10px;
}

.paysage img
{
    width: auto;
    float: left;
    
}

footer
{
    background-color: rgb(218, 214, 214);
}