html
{
    background-color: #fff;
}
body{
    background-color: #ddd;
    width:800px;
}
div
{
    background-color: #888;
    width: 600px;
    height: 400px;
    }
    p
    {background-color: #c76f6f;
        width: 400px;
        height: 30%;
    }

    /*
        width| min-width | max-width
        height | min-height | max-height
    */
    
