/* General */

:root
{
    --border-radius: 10px;
    --color1:#f2f2f2;
    --color2:#0065fc;
}

@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Raleway';
    src: url(fonts/Raleway-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}


*
{
    box-sizing: border-box;
    margin: 0;
}

body 
{
    font-family: 'Raleway';
    font-size: 14px;
}

.main
{
    margin: 0 auto;
    max-width: auto;
}

section
{
    margin: 20px 35px;
}

h1, h2
{
    font-size: 1.2rem;
}

h1
{
    margin-bottom: 10px;
}

h3
{
    font-size: .8rem;
}

.imageCanvas
{   
    width: 100%;
    height: 100%;
}

.foundRentalCard, .bestRentalCard, .activityCard
{
    display: flex;
    padding: 5px;
    box-shadow: 2px 2px 7px rgba(177, 177, 177, 0.4);
    border-radius: var(--border-radius);
    background-color: #fff;
    color: #000;
    text-decoration: none;
    transition: .2s;
}

.foundRentalCard:hover, .bestRentalCard:hover, .activityCard:hover
{
    transform: scale(1.05);
    box-shadow: 6px 6px 7px rgba(177, 177, 177, 0.2);
}


.image1 { background: url(img/Phot7.jpg); }
.image2 { background: url(img/Phot6.jpg); }
.image3 { background: url(img/Phot8.jpg); }
.image4 { background: url(img/Phot1.jpg); }
.image5 { background: url(img/Phot9.jpg); }
.image6 { background: url(img/Phot4.jpg); }
.image7 { background: url(img/Phot3.jpg); }
.image8 { background: url(img/Phot2.jpg); }
.image9 { background: url(img/Phot5.jpg); }

.activity1 { background: url(img/Activit1.jpg); }
.activity2 { background: url(img/Activit2.jpg); }
.activity3 { background: url(img/Activit3.jpg); }
.activity4 { background: url(img/Activit4.jpg); }
.activity5 { background: url(img/Activit5.jpg); }
.activity6 { background: url(img/Activit6.jpg); }

.imageCanvas
{ 
    background-size: cover;
    background-position: center;
}



.cardInfo
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:5px 0 2px 0;
}

.cardInfo > *
{
    padding: 2px 5px;
}

.priceInfo
{ 
    font-size: .7rem;
}

.priceInfo span
{
    font-weight: bold;
}

.fa-star
{
    margin: 0 -1px;
    font-size: .64rem;
    color: #c0c0c0;
}

.fa-star-blue
{
    color: var(--color2);
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.logo
{
    margin: 25px auto 0 35px;
}

header a
{
    display: block;
    padding: 0 25px;
    padding-top: 40px;
    font-size: .9rem;
    color: auto;
    text-decoration: none;
    transition: color .2s;
}

nav ul
{
    display: flex;
    padding: 0;
    height: 100%;
    list-style-type: none;
    color: rgb(8, 176, 231);
}

nav a:hover
{
    padding-top: 38px;
    border-top: 2px solid var(--color2);
    color: #0065fc;
}

header > a
{
    margin-right: 10px;
    font-weight: bold;
    color: #0065fc;
}

header > a:hover
{
    color: #69a0f3;
}

/* Search Section */

#searchSection form
{
    margin: 20px 0;
    font-weight: bold;
}
.searchBar
 {
    margin: 10px 0;
    display: flex;
    width: 100%;
    padding: 10px 50px 20px 10px;
    background-color: #0065fc;
    border: solid 1px grey;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-family: arial, verdana, sans-serif;
    font-size: 18px;
    color: white;
    align-items: stretch;
    justify-content: flex-start;
}

.locationIcon
{
    
    justify-content: center;
    border: 1px solid var(--color1);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background-color: rgb(230, 219, 219);
    width: 20%;
}

.searchBar input[type="search"]
{
    margin: 0;
    padding: 10px;
    border-top: 1px solid #f2f2f2;
    border-right: 0;
    border-bottom: 1px solid #f2f2f2;
    border-left: 0;
    font-weight: bold;
    -webkit-appearance: none;    
}

.searchBar button {
    padding: 10px 15px;
    background-color: var(--color2);
    border: 1px solid var(--color2);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    font: 400 13.3333px Arial;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

*
{
    box-sizing: border-box;
    margin: 0;
}
.searchIcon
{ 
    visibility: visible;
    width: initial;
    padding: 10px;
}

.searchCategories input[type="checkbox"]
{
    display: none;
}

.searchCategories
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.searchCategories p
{
    padding-right: 15px;
}

.searchCategories label
{
    display: flex;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
}

.searchCategories .fas
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -20px;
    width: 46px;
    height: 46px;
    border: 2px solid #deebff;
    border-radius: 25px;
    color: var(--color2);
    background-color: #deebff;
    transition: .1s;
    z-index: 2;
}

.searchCategories label:hover .fas
{
    border-color: var(--color2);
}

.searchCategories input[type="checkbox"]:checked + label > .fas
{
    color: #deebff;
    border-color: var(--color2);
    background-color: var(--color2);
}

.searchCategories span
{
    padding: 10px 20px 10px 30px;
    border-top: 2px solid var(--color1);
    border-right: 2px solid var(--color1);
    border-bottom: 2px solid var(--color1);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    line-height: 1.4rem;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: .2s;
}

.searchCategories input[type="checkbox"]:checked + label > span
{
    background-color: #deebff;
    
}

.searchInfo
{
    display: flex;
    align-items: center;
}

.searchInfo .fa-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    padding: 10px;
    color: var(--color2);
    font-size: .8rem;
    border: 1px solid var(--color1);
    border-radius: 25px;
}

/* Found Rental Section */

#rentalDiv
{
    display: flex;
}

#foundRentalSection
{
    flex: 9;
    padding: 15px;
    border-radius: var(--border-radius);
    background-color: var(--color1);
}

#foundRentalSection h2
{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    
}


#foundRentalSection > div
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.foundRentalCard
{
    flex-direction: column;
    position: relative;
    margin: 15px 0px;
    width: 29%;
    height: 170px;
}

.foundRentalCard .imageCanvas
{
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    flex: 1;
}

.moreFoundButton
{
    display: inline-block;
    margin-right: auto;
    padding: 20px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    transition: .2s;
}

.moreFoundButton:hover
{
    color: #888;
}

/* Best Rental Section */

#bestRentalSection
{
    flex: 4;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 15px;
    border-radius: var(--border-radius);
    background-color: var(--color1);
}

.bestRentalTitle
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px 15px 10px;
}

.bestRentalTitle .fas
{
    font-size: 1.25rem;
}

.bestRentalContent
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bestRentalCard
{
    height: 100%;
    margin: 15px 10px;
}

.bestRentalCard .imageCanvas
{
    flex: 2;
    height: initial;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background-color: #000;
}

.bestRentalCard .cardInfo
{
    flex: 3;
    padding: 5px 10px;
}

.bestRentalCard .priceInfo
{
    margin-bottom: auto;
}

/* Activities Section */

#activitiesSection
{
    margin-bottom: 90px;
    height: 350px;
}

#activitiesSection h2
{
    margin: 20px 0;
}

.activitiesContent
{
    margin: 0;
    display: flex;
    height: 100%;
}

.activitiesContent > a
{
    flex: 1;
}

.activitiesContent > div
{
    margin: 0 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.activitiesContent > div:first-of-type > .activityCard:nth-of-type(2)
{
    margin-top: 30px;
    height: 70%;
}

.activitiesContent > div:last-of-type
{
    margin-right: 0;
}

.activitiesContent > div:last-of-type > .activityCard:not(:first-of-type)
{
    margin-top: 30px;
}

.activityCard
{
    width: 100%;
    height: 100%;
    padding: 0;
    flex-direction: column;
}

.activityCard .imageCanvas
{
    width: 100%;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.activityCard h3 
{
    padding: 15px;
}

/* Footer */

.footer
{
    width: 100%;
    background-color: var(--color1);
}

footer
{
    margin: 0 auto;
    padding: 35px 35px;
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    background-color: var(--color1);
}

footer div
{
    width: 30%;
}

footer ul
{
    padding: 10px 0;
    list-style-type: none;
}

footer li
{
    padding: 5px 0;
}

footer a
{
    color: #000;
    text-decoration: none;
}

/* Small and medium screen devices */

@media only screen and (max-width: 970px)
{
    /* General */


    .imageCanvas{
        min-height: 150px;
    }
    #loupe{
        display:block !important;
     }
    #recherche p{
        display: none !important;
     }


    section
    
    {
        margin: 20px;
        padding: 0;
    }

    #rentalDiv
    {
        flex-direction: column;
    }

    #foundRentalSection, #bestRentalSection, #activitiesSection
    {
        margin-left: 0;
        margin-right: 0;
        padding: 20px;
        border-radius: 0;
    }

    .foundRentalCard:hover, .bestRentalCard:hover, .activityCard:hover
    {
        transform: initial;
        box-shadow: 2px 2px 7px rgba(177, 177, 177, 0.4);
    }

    .cardInfo
    {
        padding: 5px;
    }

    /* Header */
    
    header
    {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    }

    .logo
    {
        margin-top: 0;
        margin-left: 20px;
        margin-right: auto;
        order: 1;
    }

    nav
    {
        flex-basis: 100%;
        margin-top: 25px;
        width: 100%;
        order: 3;
    }

    nav ul
    {
        padding: 0;

    }

    nav li
    {
        width: 50%;
        text-align: center;
    }

    nav a
    {
        padding-top: 0;
        padding-bottom: 20px;
        border-bottom: 3px solid rgba(190,190,190,0.3);
    }

    nav a:hover
    {
        padding-top: 0;
        border-top: initial;
        border-bottom: 3px solid var(--color2);
    }

    header > a
    {
        margin-right: 0;
        align-self: center;
        text-align: right;
        order: 2;
    }

    header > a
    {
        padding: 5px;
        margin-right: 20px;
    }

    /* Search Section */

    #searchSection form
    {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .locationIcon
    {
        padding: 10px 16px;
        justify-content: center;
    }

    .searchBar input[type="search"]
    {
        width: 50%;
        font-size: 1rem;
    }

        .searchBar
    {
        margin: 10px 0;
        display: flex;
        width: 50%;
        align-items: stretch;
        
    }
        

    .searchBar button {
        padding: 10px 16px;
        background-color: var(--color2);
        border: 1px solid var(--color2);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }
    

    .searchBar button span
    {
        display: none;
        padding: 10px 16px;
    }

    .searchIcon
    {
        visibility: visible;
        padding: 10px 16px;
        width: initial;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .searchCategories
    {
        justify-content: flex-start;
    }

    .searchCategories p
    {
        margin-top: 20px;
        margin-bottom: 5px;
        padding: 0;
        width: 100%;
    }

    .searchCategories label
    {
        margin: 10px 0;
        margin-right: 10px;
    }

    .searchCategories label:hover .fas
    {
        border-color: #deebff;
    }

    .searchInfo
    {
        margin-bottom: 30px;
    }

    /* Found Rental Section */

    #foundRentalSection
    {
        margin-top: 10;
        margin-bottom: 0;
        background-color: initial;
        order: 2;
        color: blue;

    }

    #foundRentalSection h2
    {
        margin-left: 0;
    }

    #foundRentalSection > div
    {
        flex-direction: column;
    }

    .foundRentalCard
    {
        width: 100%;
        height: initial;
    }

    .foundRentalCard .imageCanvas
    {
        padding-top: 34%;
    }

    .moreFoundButton
    {
        padding: 20px 0;
    }

    /* Best Rental Section */

    #bestRentalSection
    {
        margin-bottom: 0;
        order: 1;
    }

    .bestRentalTitle
    {
        margin: 20px 0;
    }

    .bestRentalCard
    {
        margin: 6px 0;
    }

    .bestRentalCard .imageCanvas
    {
        padding-top: 40%;
    }

    /* Activities Section */

    #activitiesSection
    {
        margin-top: 0;
        margin-bottom: 30px;
        padding-top: 0;
        height: initial;
    }

    .activitiesContent
    {
        flex-direction: column;
    }

    .activitiesContent > a:not(:first-of-type)
    {
        margin-top: 25px;
        flex: initial;
    }

    .activitiesContent > div
    {
        margin: 0;
        margin-top: 25px;
        flex: initial;
    }

    .activitiesContent > div:first-of-type > .activityCard:not(:first-of-type)
    {
        margin-top: 25px;
        flex: initial;
    }

    .activitiesContent > div:last-of-type > .activityCard:not(:first-of-type)
    {
        margin-top: 25px;
        flex: initial;
    }

    .activityCard .imageCanvas
    {
        padding-top: 25px;
    }

    .activityCard h3
    {
        padding: 10px 25%;
        text-align: center;
    }

    /* Footer */

    footer
    {
        flex-direction: column;
        padding: 35px 20px;
    }

    footer div
    {
        margin-bottom: 30px;
        width: 100%;
    }

    footer div:last-of-type
    {
        margin-bottom: 0;
    }
}

/* Medium screen devices */

@media only screen and (min-width:490px) and (max-width: 970px)
{   
    h1, h2
    {
        font-size: 1.7rem;
    }

    
    h3
    {
        font-size: 1.5rem;
    }

    header a,
    #searchSection > p,
    .priceInfo,
    .priceInfo span,
    .moreFoundButton,
    footer a
    {
        font-size: 1.2rem;
    }

    .fa-star
    {
        font-size: 1.2rem;
    }

    .foundRentalCard .imageCanvas
    {
        padding-top: 48%;
    }

    .activityCard .imageCanvas
    {
        padding-top: 40%;
    }

    .bestRentalCard:not(:first-of-type)
    {
        margin-top: 20%;
    }

    .bestRentalCard .imageCanvas
    {
        padding-top: 30%;
    }

    .activitiesContent > a:not(:first-of-type),
    .activitiesContent > div,
    .activitiesContent > div:first-of-type > .activityCard:not(:first-of-type),
    .activitiesContent > div:last-of-type > .activityCard:not(:first-of-type)
    {
        margin-top: 35%;
    }
}

@media only screen and (min-width: 723px) and (max-width: 880px)
{
    .searchCategories
    {
        justify-content: space-between;
    }
}

#searchBar
    {
        margin: 10px 0;
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: stretch;
        
        
    }

#marker{
    color:black;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    display: flex;
    width: 10%;
    
}

#MARK{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F2F2F2;
    border:1px #F2F2F2 solid;
    width: 30px;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
}

#loupe{
    display:none;
    color: white;
    text-align: center;
 }

#ville{
    
    justify-content: flex-start;
    align-items: stretch;
    background-color: white;
    border:1px #F2F2F2 solid;
    height: 40px;
     
}
input{
    border: none;
    align-items: stretch;
    text-align: left;
    text-decoration-color: black;
    font-weight:bold;
    font-size:larger;
    padding: 10px 10px 10px 10px;
    width: 100%;
    justify-content: flex-start;
    height: 40px;
}


#recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    color: white ;
    height: 40px;
    padding: 10px 10px 10px 10px;
    border-top-right-radius: 10px ;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 10px;
    font-weight:bold;
    width: 90px;

}
#recherche p{
    display: block;
}
    

#foundRentalSection{
    color: #0065FC;
}